.bgwhite {
    background-color: #0b0b0ce3;
    color: #fff;
}
.container{
    margin-left: 4px;
    height: 100vh !important;
    background-color: #0b0b0ce3;
    color: #fff;
}
.row{
    display: flex;
    flex: row;
}