.bgwhite {
    background-color: #0b0b0ce3;
    color: #fff;
}
.container{
    margin-left: 4px;
    background-color: #0b0b0ce3;
    color: #fff;
    height: 100vmax;
    width: 100%;
    @media (max-width:900px) {
        margin-left: 0px;
        height: 200vmax;
        width: 100vmax;
        .row{
            align-items: center;
        }
    }
   
}
.row{
    display: flex;
    flex: row;
    width: 100vh;
}